<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %><br>
<br>
<div class="container">
  <div class="card" style="width: 68rem;">
    <div class="card-body">
      <h4 class="card-title text-center">USER Edit Form</h4>
      <%= form_with model: @user do |form| %><br>
        <%= form.text_field :name, class:"form-control", placeholder:"Enter name" %><br>
        <%= form.email_field :email,class:"form-control", placeholder:"Enter Email"%><br>
        <%= form.password_field :password_digest,class:"form-control", placeholder:"Enter Password"%><br>
        <%= form.file_field :picture%><br>
        <br>
        <%= form.submit class:"btn btn-primary"%><br>
      <%end%>
    </div>
  </div>
</div>
</div>
